
<p><label>Server hostname</label><%= text_field_tag 'settings[gerrit_servername]', @settings['gerrit_servername'] %></p>

<p><label>Server Port</label><%= text_field_tag 'settings[gerrit_serverport]', @settings['gerrit_serverport'] %></p>

<p><label>Gerrit username</label><%= text_field_tag 'settings[gerrit_username]', @settings['gerrit_username'] %></p>

<p><label>SSH Keyfile (Not supported yet)</label><%= text_field_tag 'settings[gerrit_sshkey]', @settings['gerrit_sshkey'] %></p>

